body {
  margin: 0;
  overflow: hidden;
}

#instructions {
  position: absolute;
  /* color: #42b883; */
  color: #0c0c0c;
  /* text-shadow: 1px 1px 1px #000, -1px -1px 1px #fff; */
  /* text-shadow: -1px -1px 1px #000, 1px 1px 1px #fff; */
  bottom: 0;
  font-size: 13px;
  font-family: sans-serif;
  width: 100%;
  text-align: center;
  pointer-events: none;
}
